@import "reset";
@import "colors";
@import "mixins";
@import "animations";
@import "global";

@import "other/modal";

.main {
    background: rgb(179, 180, 58);
    background: linear-gradient(
        331deg,
        rgba(179, 180, 58, 1) 15%,
        rgba(67, 219, 43, 1) 35%,
        rgba(29, 253, 224, 1) 53%,
        rgba(69, 150, 252, 1) 74%,
        rgba(252, 69, 137, 1) 88%
    );
    animation-name: backgroundAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include flex-center();
    height: 100dvh;

    padding: 20px;
}

/* Форма  */
.form {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    width: clamp(90%, 100vw / 3, 50%);
    padding: 25px;

    @include flex-center($gap: 15px);
}

.form__title {
    font: {
        size: 2.5rem;
        weight: 500;
    }
}

.form__content {
    @include grid-template($rows: auto, $columns: repeat(2, 1fr), $gap: 25px);
}

.input-container {
    @include flex-align($gap: 15px);
    margin: 0 auto;
}

.input-container__about {
    font: {
        size: 1.2rem;
    }
}
.input-container__input {
    font: {
        size: 1rem;
    }
    width: 15rem;
    padding: 0.2em;
}
.button-container-wrapper {
    display: flex;
}
.button-container {
    @include flex-align($direction: row, $gap: 25px, $justify: flex-end);
    width: 100%;
}
.button {
    font: {
        size: 1em;
    }
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;

    padding: 0.8em 0.6em;
    width: 8rem;

    transition-duration: .2s;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
    background-color: #e1f067;
}
.reset-btn:hover,
.reset-btn:active,
.reset-btn:focus {
    background-color: #f06767;
}

.result-container {
    font: {
        size: 1.4rem;
    }
    @include flex-center($gap: 5px);
}
.result-container__title {
}
.result-container__input {
    font-size: 1rem;
}

.input-container--colspan-2 {
    grid-column: 1 / -1;
}

@import "media";
